/* General App Styling */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

textarea::placeholder {
  color: #888;
  opacity: 1;
  font-style: italic;
}

textarea {
  margin-bottom: 10px;
  margin-top: 20px; /* Sufficient space above the textarea */
  font-family: 'Courier New', Courier, monospace;
  width: 90%;
  max-width: 600px;
  background-color: #272822;
  color: #e0e0e0;
  border: 2px solid #444;
  padding: 15px;
  border-radius: 10px;
  resize: none;
  line-height: 1.6;
  height: 200px; /* Fixed height set to 200px */
  overflow-y: auto; /* Allows scrolling vertically */
}

textarea::-webkit-scrollbar,
.output-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #7b9a62;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: transform 0.1s;
  margin: 10px;
}

button:hover {
  transform: scale(1.05);
}

/* Output Grid Layout */
.output-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default to 3 columns for larger screens */
  grid-gap: 20px;
  width: calc(100% - 40px); /* Adjust width based on the container's padding */
  max-width: 1200px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .output-grid {
    grid-template-columns: 1fr; /* Single column for mobile screens */
  }
}

/* Output Container Styling */
.output-container {
  background-color: #272822;
  color: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  max-height: 250px; /* Set maximum height to 250px */
  overflow-y: auto; /* Allows scrolling vertically */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Copy Button Styling */
.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s;
  z-index: 10; /* Ensures the button is above the scrollable content */
}

.copy-button:hover,
.copy-button.copied {
  background-color: #7b9a62;
}

.copied {
  color: #fff;
}

/* Differentiating Non-Valid from Valid Outputs */
.output-non-valid {
  border: 2px solid red;
}

.output-valid {
  border: 2px solid green;
}

.button-container {
  display: flex;
  justify-content: start;
}

.scrollable-content {
  max-height: 210px; /* Adjust this height as necessary */
  overflow-y: auto; /* Only the vertical scroll is allowed */
  position: relative;
  scrollbar-width: none; /* Firefox */
}

.scrollable-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
